header{
    overflow: hidden;
}
  
main{
    background-image:url("../img/notebook1.jpg");
    height: 500px;
    background-size: cover;
    background-position: center;
}
  
main h2,
main h1{
    color: grey;
    text-transform: uppercase;
    text-align: center;
    opacity: 0.4;
}
  
main h2{
    font-size: 40px;
    padding-top: 200px;
}
  
main h1{
    font-size: 60px;
}
  
section#notebooks{
    text-align: center;
    padding-top: 10px;
    background-color: grey;
}
  
div.productos{
    width: 90%;
    overflow: hidden;
    margin: 40px auto 0 auto;
}
  
  
div.productos article.producto{
    width: 30%;
    margin-right: 5%;
    float: left;
}
  
div.productos article.producto:nth-child(3n){
    margin-right: 0;
}
  
section#notebooks div.productos article.producto{
    background-color: #FFF;
    margin-bottom: 30px;
}
  
section#notebooks div.productos article.producto div.img img{
    width: 100%;
}

section#notebooks div.productos article.producto h3{
    text-align: center;
    font-size: 18px;
}
  
section#notebooks div.productos article.producto p{
    text-align: center;
    font-style: italic;
    color: #AAA;
}
  
body {
    background-color: rgb(226, 224, 224);
}

.principal {
    background-color: #AAA;
    width: 50%;
    line-height: 25px;
    margin: 0 auto;
    margin-top: 30px;
}

.registro input {
    width: 100%;
    border-radius: 7px;
}

.registro input:hover {
    background-color: coral;
}

.registro input:focus {
    background-color: lightblue
}

.suscripcion {
    margin-top: 20px;
}

.button {
    text-align: center;
}

button {
    margin-top: 20px;
    border-radius: 10px;
    padding: 7px;
    text-align: center;
}

div.login {
    overflow:hidden;
    display:inline-grid;
    float:left;
    font-size: 16px;
    font-family: apple;
    font-weight: bold;
    align-self: center;
    margin-left:140px;
    height: auto;
    width:60%;
    max-width:500px;
    padding:100px;
    }
    
    input[type="text"] {
    align-self: center;
    border:10px;
    margin-bottom:0;
    }
    
    input[type="password"] {
    align-self: center;
    border:10;
    margin-bottom:0;
    }
    
    input [type="submit"] {
    background: linear-gradient(#FFDA63, #FFB940);
    align-self: center;
    height:30px;
    width:120px;
    border:0;
    color:brown;
    opacity:0.8;
    cursor:pointer;
    border-radius:20px;
    margin-top: 20px;
    margin-bottom:0;
    margin-left: 60px;
    }
    
    input [type="submit"]:hover {
    opacity: 1;
    }
    
    input [type="submit"]:active {
    transform: scale(0.9);
    }
    
    input[type="reset-password"] {
    align-self: center;
    border:10;
    margin-top:10px;
    }
    
    input[type="reset-password"] {
    background: linear-gradient(#FFDA63, #FFB940);
    align-self: center;
    text-align: center;
    height:30px;
    width:180px;
    border:0;
    color:red;
    opacity:0.8;
    cursor:pointer;
    border-radius:20px;
    margin-top: 20px;
    margin-bottom:0;
    margin-left: 30px;
    }
    
    input[type="reset-password"]:hover {
    opacity: 1;
    }
    
    input[type="reset-password"]:active {
    transform: scale(0.9);
    }
    
    @media (max-width:400px){
    login {
      width:100%;
     }
    }
    
    @media (max-width:570px){
    login {
      width:90%;
    }
    }