*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'PT Sans', sans-serif;
    scroll-behavior: smooth;
}
   
body 
{
    background-color: rgb(0, 0, 0);
}

/*------- Footer -------*/

footer
{ 
    margin: 5% auto;
    background-color: rgb(20, 20, 20)
}

/*------- Customers -------*/

div#products, 
div#categories, 
div#brands
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

div#product, 
div#category, 
div#brand 
{
    display:flex;
    justify-content: center;
}

/*------- Admin -------*/

.productsAdmin,
.brandsAdmin,
.categoriesAdmin
{
    background-color: white;
}

#imageBrand,
#imageProduct,
#imageCategory
{
    width: 70px;
}

#indexCategory
{
    border-radius: 50%;
}


/*------- Carrito -------*/

.table-cart{
    border-radius: 1em;
    background-color: aliceblue;
    padding: 1em;
    margin-bottom: 30px;
}

.table-cart img{
    width: 50px;
}

#total-cart{
    color: rgb(104, 102, 102);
}