.principal {
    width: 50%;
    line-height: 25px;
    margin: 0 auto;
    margin-top: 30px;
}

label {
    margin-top: 1%;
}

.registro input[type='text'], [type='number'], [type='date'], [type='email'], [type='password']{
    width: 100%;
    border-radius: 7px;
}

.registro input:hover {
    background-color: coral;
}

.registro input:focus {
    background-color: lightblue
}

.registro input[type='radio'] {
    margin-top: 20px;
}

.button {
    display: flex;
}

button {
    margin: 4% auto 0 auto;
    border-radius: 10px;
    padding: 7px;
    width: 110px;
    text-align: center;
    justify-content: center;
}

#errores {
 color: crimson;
 font-weight: bold;
 text-decoration: underline;
}
