*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'PT Sans', sans-serif;
    scroll-behavior: smooth;
}
   
body {
    background-color: rgb(255, 255, 255);
}


footer{ 
    margin: 5% auto;
}

